strict-peer-dependencies=true
auto-install-peers=true

# For now, we don't want to hoist all packages, but we want to hoist the ones that are in the workspace.
#public-hoist-pattern[]=*
#shamefully-hoist=true