{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "quoteProps": "as-needed",
    "bracketSameLine": true,
    "arrowParens": "always",
    "endOfLine": "lf"
  }
  